.transactionTags {
    color:white;
    background-Color: green;
}

.transactionAmount {
    position: absolute;
    right:0;
}

.transactionTags {
    border-radius: 3px;
    margin: 0 auto;
}

.panel2 {
    background-color: beige;
}

.panel3 {
    background-color: gray;
    margin-top: 25px;
}

